 
<h3>Points:</h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Coords</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of points">
        <td>{{p.name}}</td>
        <td>( {{p.x}}, {{p.y}} )</td>
        
        <td>
          <a (click)="deletePoint(p._id)" class="btn btn-link">Delete</a><br/>
          <a (click)="updatePoint(p._id)" class="btn btn-link">Update</a>
        </td>
      </tr>

    </tbody>

  </table>