<h2>Get KNN</h2>
<form [formGroup]="form" (ngSubmit)="getKNN()">
    <div class="form-group">
        <label for="k">Amount</label>
        <input type="text" formControlName="k" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.k.errors }"  />

        <div *ngIf="submitted && f.k.errors" class="invalid-feedback">
            <div *ngIf="f.k.errors.required">Amount is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="x">X</label>
        <input type="number" formControlName="x" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.x.errors }"  />

        <div *ngIf="submitted && f.x.errors" class="invalid-feedback">
            <div *ngIf="f.x.errors.required">X is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="y">Y</label>
        <input type="number" formControlName="y" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.y.errors }"  />

        <div *ngIf="submitted && f.y.errors" class="invalid-feedback">
            <div *ngIf="f.y.errors.required">Y is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="radius">Radius</label>
        <input type="number" formControlName="radius" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.radius.errors }"  />

        <div *ngIf="submitted && f.radius.errors" class="invalid-feedback">
            <div *ngIf="f.radius.errors.required">Radius is required</div>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Find
        </button>
    </div>
</form>

<div *ngIf="points.length">
    <h3>Points amount {{points.length}}</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">X</th>
            <th scope="col">Y</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of points">
            <td>{{p.x}}</td>
            <td>{{p.y}}</td>
        </tr>

        </tbody>

    </table>
</div>